@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .hover-effect {
    @apply cursor-pointer transition-all duration-200 hover:text-blue-400 hover:scale-105;
  }
}



/* ✅ Scrollbar hide but scrolling enabled */

/* Chrome, Safari, Edge ke liye */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* optional */
}

/* Firefox ke liye */
html {
  scrollbar-width: none;
}

/* IE aur old Edge ke liye */
body {
  -ms-overflow-style: none;
}

/* Disable pull-to-refresh on mobile */
html,
body {
  overscroll-behavior-y: contain;
}
